[2018-03-16 21:06] downeym opened #1 "Set up Discourse comment system"
In `_config.yml` there is a placeholder for Discourse forum settings. This needs to be set up in collaboration with the forum admin, to allow commenting on blog/news items.

[2018-03-16 21:07] downeym opened #2 "Optionally set up Google Analytics"
In `_config.yml` there is a placeholder for Google Analytics. If planning to set up/continue analytics of website traffic, tracking ID needs updated.

[2018-03-16 21:08] downeym opened #3 "Validate photo/image licenses"
Need to make sure that any & all photos or images used have an appropriate license/release by photographer. This has not yet been done. If wishing to use the illustrations existing in the prototype, @downeym can provide licenses.

[2018-03-19 23:52] yanokwa commented on #2
@opendatakit-bot claim

[2018-03-20 00:08] yanokwa commented on #2
@opendatakit-bot claim

[2018-03-20 03:25] yanokwa opened #4 "Switch license to CC"
See https://github.com/opendatakit/docs/blob/master/LICENSE.md for example

[2018-03-20 03:25] yanokwa opened #5 "Enable builds to staging.opendatakit.org"

[2018-03-22 00:51] yanokwa opened #8 "Don't hard-code urls to staging.opendatakit.org"
If you deploy to S3 (http://staging.opendatakit.org.s3-website-us-west-2.amazonaws.com) and try to browse on the software page, it doesn't work because it's hard linked to http://staging.opendatakit.org. That should be fixed.

[2018-03-22 00:56] yanokwa opened #10 "Reduce image size of images"
In repo and on site

[2018-03-22 02:09] yanokwa commented on #5
Closed by https://github.com/opendatakit/website/commit/f807aad5b515318cb4430ae081f96f3c590c36b6

[2018-03-22 02:09] #5 closed

[2018-03-22 02:09] yanokwa commented on #4
Closed by https://github.com/opendatakit/website/commit/1202877262970c68fc2f162d7778eb3968a6a8f1

[2018-03-22 02:09] #4 closed

[2018-03-23 18:14] yanokwa commented on #8
Our current theme uses hard-coded`url` in a lot of places, including the top menu. This means when we deploy to any other place beside staging.opendatakit.org, the site's links don't work.

This behavior was "fixed" by 1a022b1, but that breaks canonical URLs which are important for SEO. There isn't an easy way to set `url` for production builds, so it was reverted with 05914e1.

All this to say, w

[2018-03-23 18:14] #8 closed

[2018-03-23 20:54] #10 closed

[2018-03-23 22:47] lognaturel opened #17 "Write ecosystem page"
- What it means to have a broad ecosystem
- Some of the major players
- Form specifications

[2018-03-23 22:58] lognaturel opened #18 "Decide where the FAQ should go"
There's an updated version at https://docs.opendatakit.org/faq/. I think that version is good but that the website is probably a more appropriate place for it.

[2018-03-23 23:50] lognaturel opened #19 "Remove orphaned media"
Lots of images were for documentation that is now moved to the docs site. They shouldn't be in this repo.

[2018-03-27 20:52] lognaturel opened #21 "If I want to get help, it's not clear where to go"
A lot of users come to the website because they need help with the tools. The current site has a clear HELP top-level menu item. Currently, it's not clear which top-level element to click on.

Once I do get to the Software page, it's still not clear where I go from there.

My ideal top-level elements would be About / Community / Help / Download (it's still not clear to me how About and Software ar

[2018-03-29 16:44] downeym opened #25 "Review data for past blog authors"
I filled out the data at https://github.com/opendatakit/website/blob/master/_data/authors.yml reflecting authors of past blog posts, and using publicly-available data sources.

Someone ought to review the existing entries and reach out to the authors to let them know there's an opportunity to change their data.

The metadata from this file only shows in the sidebar on blog type posts where the aut

[2018-03-29 16:46] #17 closed

[2018-03-29 16:46] lognaturel commented on #17
Closed by #20

[2018-03-29 19:30] yanokwa opened #29 "Add a contributing guide"

[2018-03-29 20:34] #29 closed

[2018-03-30 15:14] downeym commented on #3
@opendatakit-bot claim

[2018-03-30 15:51] downeym commented on #3
Dropped in exact copy of replacement licensed images at d4f36ea9df75bb064cdc07040931dbf258526cfc (nothing to review). Looking for a possible group photo that might work for the home page, will submit a PR for feedback.

[2018-03-30 16:08] downeym commented on #3
@opendatakit/website How do folks feel about this illustration to replace the "community" photo at the bottom of the home page? At least in the short term until we can get some clearances for ODK community photos. 😄

![network](https://user-images.githubusercontent.com/841003/38144511-dd15a65e-33f9-11e8-8121-c26d73b1d20e.png)

[2018-03-30 18:27] wbrunette opened #30 "Fix broken links on staging website"
The links across the top of the staging homepage are broken. I get a secure connection failure.

[2018-03-30 18:29] wbrunette opened #31 "migrate an missing ODK 2 binaries"

[2018-03-30 18:32] downeym commented on #30
So the theme is generating these as non-relative links based on the value that uses `https` in https://github.com/opendatakit/website/blob/master/_config.yml#L18

@yanokwa Any specific reason to specify https there, especially since it's not available on staging server?

[2018-03-30 20:53] yanokwa commented on #3
I think it's pretty good for now. I'd probably just color in the icons so it's not distracting.

[2018-03-30 20:56] yanokwa commented on #30
Ugh! Sorry about that. I added the opendatakit.org SSL cert to the CloudFront deploy so it should work be fixed in about 15 minutes.

[2018-03-30 20:59] downeym commented on #3
SGTM. I've got the vector images so can do that a bit later.

On Fri, Mar 30, 2018, 13:53 Yaw Anokwa <notifications@github.com> wrote:

[2018-04-02 19:48] lognaturel opened #34 "Purpose of ODK and ODK community is unclear from highest-impact headings"
Neither "Technology that’s about people" nor "Open Data Kit builds free and open source tools to help organizations magnify human resources through mobile technology" say very much about what ODK is for or who it can help. Providing more information with those highest-impact headings is more likely to draw new community members in.

Please discuss proposed changes at #22.

[2018-04-02 22:25] downeym commented on #2
There is currently GA tracking code in the existing web site.

1. If this issue is not addressed before go-live, there may be gaps in the data if it tracking is re-instated.
2. Who is the caretaker/owner of the GA account currently?

[2018-04-02 22:26] yanokwa opened #36 "Make sure ODK download page point to latest binaries"
What I'd like to see here is for Collect, Aggregate, Build, Briefcase, Validate, XLSForm Offline to have:
* A link to the current version (for each OS, if applicable)
* A link to the Github releases page for previous versions

[2018-04-02 22:28] yanokwa opened #37 "Remove "Other ODK 1 Tools""
I would like to remove the following tools from the downloads page for now.
* ODK CSVConverter
* ODK FormUploader

I'd like to remove these because they haven't been updated or documented. We'll eventually get to it, but it's more confusing to have them than not to have them.

[2018-04-02 22:33] downeym commented on #37
Alternatively, perhaps an "unsupported" section and/or sub-page? But yes, the less folks are set up for failure, the better!

[2018-04-02 22:36] yanokwa opened #38 "Make sure xlsform.opendatakit.org works"
A lot of people use http://opendatakit.org/xiframe to convert their XForms. Before launch, it would be good that we ensure the embed works.

[2018-04-02 22:40] yanokwa commented on #37
I'd like to do it two phases. First, we remove before launch (this issue), then we file another issue to re-added the ones that might be useful.

[2018-04-02 22:41] downeym commented on #38
Currently it seems just an IFRAME to http://82.196.7.170. Is there any way that site (who runs it?) to run under HTTPS?

[2018-04-02 22:41] downeym commented on #31
@wbrunette Any additional description here? Does this mean migrating the binaries to GitHub and then linking them into the site? Or maybe something else that isn't coming to my mind?

[2018-04-02 22:42] yanokwa commented on #38
It's run by the community (mostly me). https://github.com/opendatakit/xlsform-server/issues/8 is the issue to add HTTPS.

[2018-04-02 22:46] yanokwa opened #39 "Ensure all pages redirect from old to new"
This is a big issue, but it would be good to get a list of all the URLs on the old site and make sure they redirect into the new site.

[2018-04-02 22:51] yanokwa opened #40 "Remove unused assets to speed up clone"
Cloning the repo takes a long time and I think that is because there are assets that aren't being used (e.g., odk2). It would be good to have someone programmatically traverse the website and remove assets that aren't being used.

[2018-04-03 00:18] lognaturel opened #42 "Mention need for financial support"
From @downeym at https://github.com/opendatakit/website/pull/22#discussion_r178659043:

I agree that it would be good to mention that the project can always use financial support. How about something like "The ODK project is always seeking funding opportunities to fund software development, pay for servers and other technological resources and support community initiatives like in-person meetings

[2018-04-03 23:57] wbrunette commented on #31
I am putting the latest binaries (the two sets missing from the website) on GitHub then providing links to them. As of right now that is version 2.0.3 and yesterday's release version 2.0.4.

I could also put older versions there too. I wonder how GitHub would order that if a release is older.

[2018-04-04 00:01] downeym commented on #31
Perhaps @yanokwa has experience with release ordering?

[2018-04-04 00:09] wbrunette commented on #40
With the odk2 docs being moved there are probably some there assets there to remove. I will take a look. I think this will be probably a multiple PR item.

Since drupal imported from wordpress, there maybe stuff we from wordpress that is unneeded as well.

[2018-04-04 16:59] lognaturel opened #44 "Consider color scheme options"
Perhaps whites and grays would be more neutral? Brown/tan tends to be polarizing.

[2018-04-07 21:06] mayank8318 opened #47 "Use right margin instead of space between footer icon and text"
Presently it looks like this :
![screenshot from 2018-04-08 02-29-18](https://user-images.githubusercontent.com/22395998/38460338-6eb11346-3ad5-11e8-9d38-ddb5f1ff3803.png)

**Changes suggested**
I think there should be a right margin after the icons because using a space makes it look weird as space is also underlined.

**Would you like to work on this**
Yes

[2018-04-07 21:07] mayank8318 commented on #47
@opendatakit-bot claim

[2018-04-07 21:07] mayank8318 commented on #47
@opendatakit-bot claim --force

[2018-04-11 00:35] yanokwa opened #49 "Add page for unsupported tools"
There are some unsupported downloads that we *may* need a page for. This issue is to discuss which tools we would list on that page.

#### Should probably be unsupported
- [ ] ODK CSVConverter - https://github.com/opendatakit/briefcase/issues/37
- [ ] ODK FormUploader - https://github.com/opendatakit/briefcase/issues/37

#### Should definitely be unsupported
- [x] XLSForm for Windows
   * We now h

[2018-04-11 00:36] yanokwa commented on #37
As promised, https://github.com/opendatakit/website/issues/49 is ready if anyone wants to discuss what tools we might want to add.

[2018-04-11 00:52] yanokwa commented on #31
@wbrunette After doing this with the ODK binaries, I think it's going to be annoying to publish the releases in three places (Github, forum, and then the website).

My recommendation is to follow what I did with https://github.com/opendatakit/website/pull/50 and provide a little bit of context and link to the releases page. I can imagine a future where there is a bit of JS that pulls some more inf

[2018-04-11 16:49] yanokwa commented on #40
Just want to add that this is important because we use Git LFS bandwidth each time we do a build and that does cost money (small amounts, but it adds up over all projects).

[2018-04-11 22:25] #2 closed

[2018-04-13 21:16] #36 closed

[2018-04-13 21:16] #37 closed

[2018-04-17 02:10] #31 closed

[2018-05-01 14:45] danbjoseph commented on #25
hi folks, you all have data in the blog post authors list, are you happy with what's currently there?

@yanokwa - some people also have `location`
@lognaturel - you have all 7 of the fields that someone uses!
@wbrunette - some people also have `twitter`, and `uri`
@chartung - some people also have  `twitter`, and `uri` (sorry for the double ping, also via email)
@mitchellsundt - some people also h

[2018-05-01 17:34] lognaturel opened #54 "Introduce yourself and describe what you have learned about ODK after a few minutes of reading the staged website"
Welcome Mozilla Sprinters!

Spend a few minutes reading through http://staging.opendatakit.org and then write a comment below 👇with the following content:
- introduce yourself in a couple of sentences to provide a little context for your impressions of the website. What is your level of tech-savvy? Are you already in the ODK community? What do you do for work/fun?
- What are the main messages that

[2018-05-02 02:57] yanokwa commented on #44
I agree that a more neutral color would be better to start with. I looked at https://github.com/mmistakes/minimal-mistakes#skins-color-variations and it seems the default is, well, a good default. What do you think, @downeym

[2018-05-02 03:13] yanokwa commented on #3
I believe this has been resolved. @downeym Can you confirm?

[2018-05-02 03:15] downeym commented on #3
Yes, as far as I know everything is good to go!

On Tue, May 1, 2018, 20:13 Yaw Anokwa <notifications@github.com> wrote:

[2018-05-02 03:15] #3 closed

[2018-05-02 03:24] yanokwa opened #59 "Remove text about verifying downloads"
Our current downloads infrastructure does not generate SHA256 hashes and I don't think we should be in the business of generating these hashes or asking our users to verify.

I propose we
- [ ] Remove this text from `_pages/download/index.md`
- [ ] Delete `/assets/signatures.txt`
- [ ] File an issue on https://github.com/opendatakit/docs/issues/new to remove https://docs.opendatakit.org/verify-dow

[2018-05-02 03:33] yanokwa commented on #19
Closing in favor of https://github.com/opendatakit/website/issues/40. I would have kept this issue, but #40 has some initial discussion.

[2018-05-02 03:33] #19 closed

[2018-05-02 03:57] yanokwa opened #61 "Fix broken links"
This is an issue that is never closed.

Links break all the time. If you notice a broken link, please send in a PR.

[2018-05-02 04:34] yanokwa commented on #39
@wbrunette The WP site at has a redirection plugin with a list of redirects. I'm having problems loading that plugin. Can you try at UW and share the list here?

[2018-05-02 15:33] danbjoseph opened #67 "font for image attribution on landing"
minor detail, the font for the the main image on the landing page is serif but the rest of the website is sans serif

caption is`font-family: Georgia,Times,serif;` set for `.page__hero-caption`

looks like the default is something like
`font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif`

![screen shot 2018-05-02 at 11 33 12 am](http

[2018-05-02 21:07] wbrunette commented on #59
I am indifferent. I know @clarlars and @jbeorse have stronger opinions about it than me.

I am not sure we should have a text file that we keep updating without automation (so I am on board removing that)

I think we can just add the SHA to the download text when we post the release. However, maybe we should let people know it's available on the release page on github?

I going to let others weigh

[2018-05-02 21:10] wbrunette commented on #44
Does anybody who is "watching" the website have a preference on colors? Now would be the time to speak up.

[2018-05-02 21:17] clarlars commented on #59
I am probably one of the few people who actually verifies the SHA hashes of downloads, but I like knowing that what I downloaded is the correct version and not an infected binary.  I do know that generating these are a pain and agree that automating the process would be better to remove user error.

[2018-05-02 21:33] jbeorse commented on #59
I admit I never check them myself, but I can see their value in protecting against man in the middle issues. I think they provide a sense of security, and an audit trail if anything shows up fishy.

How difficult is this to add to our downloads structure?

[2018-05-02 21:36] yanokwa commented on #59
As far as viruses, it seems more probable that the person generating the build could have a virus. Or the download site, along with the SHA, could be compromised. Case in point, [Transmission](https://www.macrumors.com/2016/03/07/transmission-malware-downloaded-6500-times/) had a virus embedded in the app on the official site.

If most of the core team don't check the hash, then users are definite

[2018-05-02 21:45] jbeorse commented on #59
This isn't a blocker for me. If the consensus is to remove it then I'm fine with it. We can come back to it later if we do find ourselves with a problem.

[2018-05-02 21:45] yanokwa commented on #39
Here is the up-to-date list of redirects that happen on the old site.
<img width="777" alt="screen shot 2018-05-02 at 14 44 39" src="https://user-images.githubusercontent.com/32369/39550795-621c9e02-4e17-11e8-96d4-6e44d36b2179.png">

[2018-05-07 21:08] #59 closed

[2018-05-07 22:06] jbeorse commented on #25
Regarding @mitchellsundt, he retired last fall. If you look at his Github activity you can see a hard stop in October. It was my impression that when he left it was a true retirement, at least for now. This is reflected on his [linked in](https://www.linkedin.com/in/mitchellsundt/). I doubt you'll get a response via his old email; I believe he closed that account.

To my knowledge there is no appr

[2018-05-07 22:27] jbeorse opened #68 "There is no link to ODK 2 source code"
On the software page there is a link to the ODK 1 source code on github, to https://github.com/opendatakit/opendatakit. This seems appropriate and the correct link. But there is no link to ODK 2 source code.

[2018-05-07 22:27] clarlars commented on #25
I also have the same understanding as @jbeorse regarding @mitchellsundt.  I would say if you can get a hold of him, then include him otherwise leaving the bio blank makes sense.

[2018-05-09 09:00] akshay-ap opened #70 "Add troubleshooting section in README"
I faced an error while setting up the environment.
It would be helpful to add a `troubleshooting` section in `README` to give a quick solution.

![installerror](https://user-images.githubusercontent.com/16358982/39805783-6918b302-5395-11e8-8244-92dca53b9da3.png)

[2018-05-09 09:09] akshay-ap commented on #70
`nokogiri` installation was failing.
I found solution here http://www.nokogiri.org/tutorials/installing_nokogiri.html

[2018-05-09 20:47] yanokwa commented on #68
I think the link to that repo is probably not a good idea long term. I'd vote for removing it and then linking to the source code of each tool directly on the downloads page.

For example, on http://staging.opendatakit.org/download/odk2, it'd look something like this:

[2018-05-10 03:48] lognaturel opened #72 "Identify and replace complex language or jargon"
One of the goals for the website is that it be a helpful resource for anyone without a lot of context.

Is any language more complex than it needs to be? Is there any [jargon](http://www.dictionary.com/browse/jargon) or specialized language that can/should be replaced?

Discuss possible replacements here or go right to filing a pull request!

[2018-05-10 03:52] lognaturel commented on #61
There are a number of free tools online that will highlight broken links on a site that would be helpful for this.

Eventually it would be good to have a link checker as part of continuous integration. https://github.com/gjtorikian/html-proofer is an example of such a tool.

[2018-05-10 05:10] akshay-ap opened #73 ""Hire" link shows home page"
In FAQ, "How do I customize or implement an ODK solution?" there is link on `hire help` which redirects user to `/support/help-for-hire/`.
Currently, redirection succeeds but, it shows home page and has nothing related to customizing ODK.
http://staging.opendatakit.org/support/help-for-hire/

[2018-05-10 05:14] akshay-ap commented on #73
In docs, user is redirected to https://opendatakit.org/help/help-for-hire/.
One possible solution can be to copy the content from above link to new file "`website/_pages/about/hire-help`

[2018-05-10 05:54] akshay-ap opened #74 "Add images to Improve software section"
I liked the presentation of `software` section by openstack : https://www.openstack.org/software/
It would give a better picture of ODK tools for readers if we add images.
I made a quick sketch for ODK1 tools here

![odk1](https://user-images.githubusercontent.com/16358982/39854213-4f54c73a-5444-11e8-93d7-4596f404958e.png)

[2018-05-11 06:13] Tlazypanda commented on #54
- Hey Sneha here from India.I am currently a college undergrad.No,I am not a part of the odk community but would love to ❤️ .I love singing and playing basketball in my free time.
- ODK is really good initiative aimed at providing very useful information that too at the click of a button!
-Yes,the landing page is very informative indeed and not at all confusing.
-The content of the site is more or

[2018-05-11 18:31] akshay-ap commented on #54
Hello!!
- I am Akshay. I am a final year engineering student. I am a part of ODK community and always try to help whenever I can. Currently, I have contributed to `ODK Collect` and docs a bit but wish to understand and contribute to other tools. I love to read books in my free time and keep learning new technologies.
- The website clearly states its goals and what ODK is all about.
- The landing p

[2018-05-11 22:51] #70 closed

[2018-05-11 23:07] jbeorse commented on #68
Sure thing. That makes sense. I'll update the PR accordingly.

[2018-05-12 19:01] akshay-ap opened #75 "Add statistics on website"
Adding statistics helps to show impact of the community. So, it will be great to have some summarized data in the form of visual representation.
Statistics like number of community members, number of lines of code, number of countries where ODK has been used, number of organizations using ODK tools can be used as metric.

[2018-05-12 19:03] akshay-ap commented on #75
It can be of the form

<img src = "https://user-images.githubusercontent.com/16358982/39960699-bffbee58-5644-11e8-90ff-dd5798f9a972.png" width = 50%>

Image above is taken from www.openstack.org

[2018-05-13 05:37] jbeorse opened #76 "JavaRosa release link points to Collect releases"
The link on /download/odk1/ for JavaRosa releases on Github points to Collect's releases instead of JavaRosa

[2018-05-13 05:59] jbeorse commented on #73
Its my understanding that the Help For Hire page is depracated and that the new home for this kind of thing is the Marketplace on the forum: https://forum.opendatakit.org/c/marketplace

I propose this as the solution, and am happy to do it if everyone agrees.

[2018-05-13 06:01] jbeorse opened #78 "Update the Sync Endpoints download page"
The Sync Endpoints downloads page gives a single docker command that is almost useless without context. I think we should rework this section to explain that we do not currently distribute downloadable binaries of the Sync Endpoint, and to read further in the documentation or visit the source code for the services.

[2018-05-21 21:43] #76 closed

[2018-05-21 22:38] yanokwa opened #80 "Remove software page and remove unique content to download"
I think there should be a single and obvious place that people have to click to get what they came for and having both a software and download page is confusing.

I think we should remove Software page. Pretty much all the content here is already captured in the docs. And the content that isn't there could pretty easily be moved to download.

[2018-05-21 22:42] yanokwa commented on #21
This to me is a high priority issue that's related to #80. I think  `Community | Help | Download` is way clearer.

Agreed that some of the stuff that is in About could really be put under Community.

[2018-05-22 04:06] jbeorse commented on #68
Fixed with https://github.com/opendatakit/website/pull/77

[2018-05-22 04:06] #68 closed

[2018-05-22 04:48] jbeorse commented on #80
The "Software" name does seem confusing. If we scrap this page we lose our link to the documentation though, as well as the "Additional Documentation" section and "Helpful Links". But the linked issue #21 provides a good new home. I agree with this change if a good "Help" page takes its place,

[2018-05-22 05:01] jbeorse commented on #21
I agree with this change. I think this new Help page should include a lot of what the "Software" page currently has, though possibly restructured. This includes:

- Links to the documentation, possibly to individual tools pages, and other common topics like form design or training guides (note that some of these links are currently broken on "Software").
- Link to the FAQ
- Link to the forum. This

[2018-05-22 14:16] yanokwa commented on #21
I agree with links to docs, forum, and marketplace. Totally OK if there is some duplication from Community.

For docs, I think these should be high-level links not to individual tools. I say this because folks need context and dropping someone directly into the Aggregate getting started might not give them the right context. I also want to reduce the need to update links when we rename something o

[2018-05-22 14:29] yanokwa commented on #21
As far as the language, I'm thinking more that we say there are two primary ways to get help: the docs and the forum.

Then we have links to ODK and ODK 2 docs. Then we have a link to the forum with sub-links to support, feature request, and marketplace categories. Then we have a contact email address for private issues.

We will need to have some succinct language at the top that explains the dif

[2018-05-22 18:58] adammichaelwood opened #82 "FB and TW links in footer are blocked by ad blockers"
The problem here is that if you use the social-icons or font-awesome class names in a site, most ad-blockers will block them.

[2018-05-22 19:19] smoyth opened #83 "Remove search function"
It currently searches old blog content and returns the same large image for each result. This is not a site that needs a search function in my opinion. All the juicy content is on the docs, forum, and Github.

[2018-05-22 19:22] adammichaelwood opened #84 "Downloads page -- rename to Software, compare table, some language on suites"

[2018-05-22 19:22] smoyth opened #85 "Remove intra-page link navbar"
This site has a lot of navigational elements currently (4 if you are on mobile view (the hamburger, header, side/toggle nav, and intra-page nav)). That is too many!

I think we can do without the intra-page links. If a page has that much content that it needs such links, it could be split, or in extreme cases, have an inline table of contents beneath the page title element.

[2018-05-22 19:24] smoyth opened #86 "Change icon indicating external links"
The more standard choice is like this:

![image](https://user-images.githubusercontent.com/702320/40385321-3141383e-5dd4-11e8-8cb4-f697b8e43896.png)

Font Awesome has one if we have access to that. (If we don't, maybe we should?)

[2018-05-22 19:29] smoyth opened #87 "Improve mobile navigation experience"
The mobile version currently looks like this:

![image](https://user-images.githubusercontent.com/702320/40385405-799bfa10-5dd4-11e8-929b-7e0d2f74c46a.png)

It really needs some love. I think the easiest thing would be:

1. Get rid of the intra page links (there is a separate issue for this)
2. Move all navigational links into the hamburger menu (including _all_ the header links _and_ the side nav

[2018-05-22 19:30] smoyth opened #88 "Group external links in nav bar"
If there are external links in the side navbar, I suggest we move them all to the bottom and place a bit of space between them and the internal links. This reduces surprise.

[2018-05-22 19:35] smoyth opened #89 "Matching and active nav links and titles"
* If you click 'Community' in the top nav, the side nav title should be 'Community' and the 'Community' link should be styled as active somehow.
* If you click 'Governance' in the side nav, the page title should also be 'Governance' and the side nav link should be styled as active.

There must be ways to make this easy/automated in Jekyll.

[2018-05-22 19:36] smoyth opened #90 "Remove social media stuff in sidebar"
For instance on http://staging.opendatakit.org/community/. It is not clear why it's on this page when it's also in the footer. The footer seems like a more natural place for it.

[2018-05-22 19:52] smoyth opened #91 "Simplify download page"
Right now it comes across as three articles or blog posts.

Suggesting a simplified, spacious two-column layout, maybe without the images, with the two questions ("Looking for ..", "Have some..") prominently featured.

Perhaps like this:

![image](https://user-images.githubusercontent.com/702320/40386445-bd715e26-5dd7-11e8-9e32-9afae735cc11.png)

It might be nice to reduce the amount of text under

[2018-05-22 19:59] lognaturel commented on #83
One possibility for it that I believe @downeym had suggested would be to do cross-site search to allow searching all the juicy content you mention at once. But I agree that in the mean time, removing the local site search seems better than having it.

[2018-05-22 20:02] lognaturel commented on #85
I agree with this. It uses valuable horizontal real-estate and I always expect it to take me somewhere else rather than within the page.

[2018-05-22 20:52] wbrunette commented on #83
I agree with @lognaturel. If we cannot get a multi-site search to work we should remove it. However, seems like a task to try to complete before the launch. Renamed the issue from "remove search function" to "either enhance search functionality or remove it".

[2018-05-22 20:59] wbrunette commented on #21
I agree that replacing the software page with a help page that links to resources is a good direction to head.

[2018-05-22 21:03] wbrunette commented on #85
I think this is good suggestion based on the https://github.com/opendatakit/website/issues/87 it causes on the mobile web.

[2018-05-22 21:04] yanokwa commented on #39
Just want to also add that we need to make sure any deleted pages on the new site have content elsewhere (e.g., docs)

[2018-05-22 21:10] yanokwa commented on #83
I'll send in a PR to remove it and leave this issue as enhancing the search because I don't think that's going to be easy to do before launch.

[2018-05-22 21:16] wbrunette commented on #87
I agree with @smoyth that improving the mobile web viewing experience is important.

[2018-05-22 21:36] wbrunette commented on #91
I agree with @smoyth that we probably do not need the third column.

I also like the idea of visual identity of the tools using their icons; however not sure it has to be done before the launch could be done later but would be happy if it was.

A comparison table between ODK 1 and ODK 2 has been requested multiple times. Additions to the table or other modifications are welcome but it has been req

[2018-05-22 21:43] yanokwa commented on #91
I think it's going to be hard to get a visual identity done before launch, but we can definitely file a separate issue.

As to comparison table, I do think this will be contentious. What would be easy to do also is to add bit more text to the different columns about what each thing does and don't compare. For me, the important things are the stage of technology, adoption, and one or two tent-pole

[2018-05-22 23:13] yanokwa opened #95 "Add HTML proof support"
It'd be nice to have checks on the build before it deploys to production.
https://jekyllrb.com/docs/continuous-integration/circleci/
https://github.com/gjtorikian/html-proofer

[2018-05-22 23:31] adammichaelwood opened #96 "remove unused images from repo"
These's over a thousand images in `wp-content/uploads`.
Causes a real problem with cloning the repo for the first time. (GH rate limiting is 💩🔥💩🔥)
---

Most of these are from the blog. So, I guess we also need to decide if that is staying or going.

Even if it is staying, I think we can clean things up. Currently, every image has 7 versions of itself. For example:

[code]

[2018-05-22 23:48] adammichaelwood opened #97 "blog images are broken"
See for example:
http://staging.opendatakit.org/2017/06/01/configure-collect-on-many-devices-with-qr-codes/

There are `<img>`s on the page, but the images can't be found
The images ARE in the repo,
but they aren't where Jekyll is looking for them,
so they don't make it into the build output.

-----

I guess it is only worth fixing this if we're going to keep the blog intact.
Do we have a running

[2018-05-22 23:53] adammichaelwood opened #98 "style img alt text"
When an image is missing or broken, the `alt` text is displayed instead.
Currently, the alt text looks *exactly* the same as the surrounding body text, and (on some browsers) there is no indication that an image is missing. This leads to confusing, random sentences in the middle of text where an image was supposed to be.

See, for example:
http://opendatakit.org/2017/06/configure-collect-on-many-d

[2018-05-22 23:57] yanokwa opened #100 "Run HTML proofer on every build to check for mistakes"
Run `htmlproofer ./_site --check-html --disable-external` and you'll get a list of broken links. This is an ongoing issue to fix all those broken internal links. Those fixes can come in separate pull requests.

Once we are sure the links are broken, we can enable the above command in `.circleci/config.yml` so the build fails when there is a broken link.

[2018-05-23 00:09] wbrunette opened #101 "Removing Press Section"
Pull request https://github.com/opendatakit/website/pull/92 removed the press articles section (at least temporarily). While I am personally fine with it's removal,  we could have a discussion of where to host ODK  press articles after the initial website launch.

[2018-05-23 00:10] yanokwa commented on #97
The links to the images are generated dynamically, and that is what the `-123x456` prefix is for. It looks like the crawler that got the HTML got pictures at one size and the crawler that got different sizes. Fun.

[2018-05-23 00:10] wbrunette opened #102 "Removing Deployments section."
Pull request #92 removed the deployments section (at least temporarily). While I am personally fine with it's removal, we could have a discussion of if we want a list of deployments in the future. I think the forum showcase is a fine place for these.

[2018-05-23 00:11] yanokwa commented on #101
The PR moves it for now into the history section, but yeah, the next PR will remove it. Sounds like no one will complain.

[2018-05-23 00:16] #21 closed

[2018-05-23 00:16] #80 closed

[2018-05-23 00:31] yanokwa opened #104 "Remove research page"
I think it's easier and more thorough to find all the papers about ODK through [traditional sources](https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=%22open+data+kit%22+or+%22opendatakit%22+or+%22ODK%22&btnG=) so I'd propose removing the research page.

[2018-05-23 00:34] yanokwa opened #105 "Remove FAQ"
The FAQ is horribly out of date so it should be removed. I think, in general, if there is a frequently asked question, we should cover it in the docs or change the site to address said question.

[2018-05-23 03:49] #95 closed

[2018-05-23 04:37] lognaturel commented on #102
Highlighting the showcase and maybe even pulling in some of its content via RSS sounds like a great approach to me.

[2018-05-23 13:10] smoyth commented on #91
I like Yaw's suggestion. I think perhaps it's a less competitive/adversarial way of giving users what they need in terms of judging the two suites. There could even be more than one or two features, but this way there wouldn't be the "we have it and they don't" kind of messaging. Instead it would be "here are our strengths" and "here are our strengths" messaging, which I think is more appropriate.

[2018-05-23 15:51] yanokwa opened #115 "Align home page with mission and values"
Our mission and values are at https://github.com/opendatakit/governance/blob/master/MISSION-AND-VALUES.md and it'd be great if we could have some language like that on the front page.

[2018-05-23 16:01] yanokwa opened #117 "Replace intro/excerpt with a bit of social proof?"
The intro/excerpt below the image is redundant and a bit empty. It'd be good if we could replace it with some kind of social proof.  Something like this...

[2018-05-23 16:06] yanokwa commented on #91
I'll take a stab at reducing this page into two columns and send in a PR for review.

[2018-05-23 17:38] adammichaelwood commented on #115
I think the one-sentence mission should be the primary content of the home page:

[2018-05-23 17:43] adammichaelwood commented on #117
Will do.

[2018-05-23 18:30] #90 closed

[2018-05-23 21:13] smoyth commented on #83
I agree it sounds like a hard problem to solve well.

[2018-05-23 22:05] wbrunette commented on #83
I think I have a solution, I am working on it this afternoon :)

[2018-05-23 22:19] wbrunette commented on #83
I am holding off for more discussion, but to me automation is helpful for most people. Search has been shown to be incredibly useful. I think people being able to search and find answers is fine without people having to direct them. Ideally directing them with awesome documentation is the best but this is an even harder challenge. Giving them a tool to narrow their search to ODK docs, forum, websi

[2018-05-23 22:29] lognaturel commented on #83
Agreed that it's starting to be less useful, unfortunately. That's something we can look at separately -- maybe there's some kind of filtering possible.

[2018-05-23 22:34] yanokwa commented on #83
This doesn't feel like a priority for launch because no one will be confused by a search being added later.

I'd rather we put our energy towards other issues. https://github.com/opendatakit/docs/issues/436 comes to mind as a really critical issue that no one is owning currently.

[2018-05-23 22:37] wbrunette commented on #83
I think search will be an opportunity for people to self-help themselves and by creating a search of our current websites it will help users find the answers they are looking for. Thereby improving things.

[2018-05-23 22:38] adammichaelwood commented on #83
That's on me. I'll update the issue.

[2018-05-24 22:32] #40 closed

[2018-05-24 22:32] #96 closed

[2018-05-24 22:42] adammichaelwood commented on #97
I think the right way to fix this issue is to change the `<img>` refs in the post `.md` files to point to the unscaled versions. Those elements also need to have the `height` and `width` attributes removed. (Removing the existing `class` attribute would be good too.)

The CSS on the front will make them fit well at column width. After that, we can discuss resizing (screenshots, for example, are a

[2018-05-24 22:49] #115 closed

[2018-05-24 22:51] wbrunette commented on #105
PR #119 removed FAQ

[2018-05-24 22:51] #105 closed

[2018-05-24 22:52] #101 closed

[2018-05-24 22:58] adammichaelwood commented on #97
While we're at it ---
I wouldn't object to removing `/wp-content/uploads/` from the image paths.

-----

I can do this, but someone with better regex skills could probably do it faster than me...

[2018-05-24 23:35] #97 closed

[2018-05-25 00:10] adammichaelwood opened #121 "HTML title and h1 on home page"
On the home page,
the `<title>` element,
all the title-related meta tags
( `<meta property="og:title"`, `<meta name="twitter:title"`),
and the `<h1>` element
should be: `Open Data Kit`.
Instead, because of the way the HERO UNIT is set up,
those titles are all "Collect data quickly, offline, and at scale".

This is not great for:

 - SEO
 - Social media posts
 - My browser tabs

Here's a link to th

[2018-05-25 00:11] adammichaelwood opened #122 "Improve local install/build instructions in the README"
Specifically, add a suggestion to use rbenv.

[2018-05-25 00:44] wbrunette commented on #102
I like @lognaturel idea of RSS. I looked into it and it looks like it should work. Where should the RSS feed of showcase go on the new website?

[2018-05-25 01:11] yanokwa commented on #122
It might be easier to point people to https://www.ruby-lang.org/en/downloads/ and then say if you are using *nix, use your package manager and rbenv. If you are using macOS, use brew and rbenv. If you are using windows, use RubyInstaller.

[2018-05-25 01:13] yanokwa commented on #102
I say let's put it under community as it's own page and see what it feels like.

[2018-05-25 17:47] adammichaelwood opened #125 "blog post URLs (and possibly redirects)"
I don't know how redirects are going to work,
so this might not end up being a problem.
But...

The URL structure of blog posts on the old site is subtly different from the new site.

Old:
/2016/07/bolivian-red-cross-and-international-federation-of-red-cross-and-red-crescent-societies-use-odk-to-combat-zika/

New:
/2016/07/05/bolivian-red-cross-and-international-federation-of-red-cross-and-red-cre

[2018-05-25 18:22] adammichaelwood opened #126 "404 page"
404 Not Found errors fail silently:
You get the content of the home page,
but the URL *appears to work* ---
it doesn't redirect,
nothing tells you that the page you are getting is:

 - the front page
 - not the page you were looking for

This is a bit confusing.

[2018-05-25 18:28] #88 closed

[2018-05-25 20:08] adammichaelwood opened #127 "Make all outdound links open in new tabs/windows"
This is pretty standard behavior today
(I appreciate it as a user),
and is easy to do with JS.

[2018-05-29 13:28] adamvert commented on #127
Not sure I agree with this - I often use ctrl/cmd-click to open links in a new tab, and find it pretty annoying when sites make that decision for me.

[2018-05-29 18:47] #117 closed

[2018-05-29 19:43] yanokwa commented on #38
The xiframe redirect currently doesn't work. We need to do the following...
- [ ] Wrap a quick UI around https://github.com/opendatakit/xlsform-server/issues/9
- [ ] xlsform.opendatakit.org needs to redirect 82.196.7.170
- [ ] Need to get an HTTP cert on https://github.com/opendatakit/xlsform-server
- [ ] Verify that Enketo preview works

[2018-05-29 20:00] #125 closed

[2018-05-29 20:46] #126 closed

[2018-05-29 23:55] yanokwa commented on #34
Closed by #116

[2018-05-29 23:55] #34 closed

[2018-05-30 00:02] yanokwa commented on #18
Fixed by #119

[2018-05-30 00:02] #18 closed

[2018-05-30 00:08] yanokwa commented on #84
Closing in favor of #91

[2018-05-30 00:08] #84 closed

[2018-05-30 00:11] #39 closed

[2018-05-30 00:13] yanokwa commented on #85
Fixed by #123

[2018-05-30 00:13] #85 closed

[2018-05-30 00:20] yanokwa commented on #61
Closing in favor of #100

[2018-05-30 00:20] #61 closed

[2018-05-30 00:21] yanokwa commented on #86
Fixed by getting rid of external links in sidebar.

[2018-05-30 00:21] #86 closed

[2018-05-30 01:15] adammichaelwood opened #137 "HTTPS hangs forever"
This might be being taken care of already, but...

-------

currently:
`https://staging.opendatakit.org`
doesn't work.
Any URL with that domain hangs forever.
This is doubly a problem because the old site is `https`,
so all links currently break.

[2018-05-30 01:49] yanokwa commented on #137
Fixed by pointing the DNS to Cloudfront, not S3

[2018-05-30 01:49] #137 closed

[2018-05-30 02:46] yanokwa opened #140 "Enable logs on s3 bucket"

[2018-05-30 04:22] lognaturel opened #144 "Add roster of TSC members with pictures"
It helps make the project feel more personal and friendly.

[2018-05-30 04:36] #144 closed

[2018-05-30 19:10] #38 closed

[2018-05-30 19:50] yanokwa commented on #140
Fixed. We have logs in S3 and a dashboard through CloudFront..

[2018-05-30 19:50] #140 closed

[2018-05-31 22:58] yanokwa commented on #25
Fixed.

[2018-05-31 22:58] #25 closed

[2018-05-31 23:21] yanokwa commented on #89
FIxed with #134

[2018-05-31 23:35] yanokwa commented on #82
We'll likely have to define an `odk-social-icons` style and use that instead of `social-icons`. FIrst, look to see if `social-icons` has any meaningful style. If it doesnt, then we can drop it. If it doesn't, then it might be good to re-define it in `main.scss`

Then, some approaches that might work
* Find some way to set the `$fa-css-prefix` for the `fa-{service}-square` icons so it's `odk-{servi

[2018-06-01 00:07] yanokwa commented on #49
I filed this issue, but I don't think it's relevant. I'd like to close it. Whatcha think, @lognaturel @wbrunette

[2018-06-01 01:48] wbrunette commented on #49
I am fine closing it. IMHO, I think the better place for unsupported tools is on github wikis as i view them similar to skunkworks projects that we are not putting front and center.

[2018-06-01 19:34] lognaturel opened #157 "It's not possible to link to a particular tool's download"
I'd like to point someone straight to the download for a specific tool.

Anchors for each header at https://opendatakit.org/software/odk1/ would help.

[2018-06-01 19:41] lognaturel commented on #157
Hmm, actually, the anchors are implicitly generated (e.g. https://opendatakit.org/software/odk1/#odk-xlsform). So it's more a matter of making them explicit.

[2018-06-02 14:54] yanokwa commented on #82
I just re-checked this issue and I'm not able to reproduce. Is everyone seeing this footer when they have adblock turned on?

<img width="1056" alt="screen shot 2018-06-02 at 07 53 48" src="https://user-images.githubusercontent.com/32369/40877705-195bcf4a-663a-11e8-8fae-577c0ad83ca9.png">

[2018-06-07 19:38] adammichaelwood opened #165 "redirect /about/team to /community/governance (?)"
Or just `/community` ?

[2018-06-07 19:42] adammichaelwood opened #166 "redirect /help/form-design/cascading-selects/"
to:
[docs]form-logic/#filtering-options-in-select-questions

[2018-06-07 19:44] adammichaelwood opened #167 "redirect /help/form-design/data-preloading/"
to http://xlsform.org/#pre-loading-csv-data

[2018-06-07 19:46] adammichaelwood opened #168 "redirect /help/form-design/external-itemsets/"
to
http://xlsform.org/#external

[2018-06-07 20:02] adammichaelwood opened #169 "redirect /use/sensors"
to
https://docs.opendatakit.org/printer-widget

[2018-06-08 13:11] wbrunette commented on #165
Personally I would make this redirect to community in general as there are "team" members who do not hold a governance position.

[2018-06-11 14:41] yanokwa commented on #165
Agreed with @wbrunette. I'll add a link to Governance in the Community page as well to help smooth this redirect.

[2018-06-11 14:45] #165 closed

[2018-06-11 14:45] #166 closed

[2018-06-12 15:15] adammichaelwood opened #173 "Redirect /help/form-design/binding to [docs]/form-logic"
As per @lognaturel's [suggestion](https://forum.opendatakit.org/t/constraint-for-capturing-specific-entry-in-text/3407/5?u=adammichaelwood).

[2018-06-12 19:49] yanokwa commented on #91
@opendatakit-bot Don't make me unplug you...

[2018-06-12 20:00] smoyth commented on #91
lol

[2018-06-14 17:46] #49 closed

[2018-06-19 23:13] yanokwa commented on #82
I can't reproduce this, so I'm closing.

[2018-06-19 23:15] yanokwa commented on #74
@akshay-ap I think this kind of overview might be better in the docs, no?

[2018-06-19 23:28] linl33 commented on #82
I can reproduce this.
The GitHub and RSS feed icons are not visible either.

![screenshot from 2018-06-19 16-26-23](https://user-images.githubusercontent.com/8204095/41629293-8e1d4484-73dd-11e8-9227-e16ff77b0323.png)

[2018-06-19 23:32] yanokwa commented on #82
What browser and adblocker are you using?

[2018-06-19 23:50] linl33 commented on #82
Chrome
uBlock Origin

The entire `.social-icons` class is removed.

[2018-06-19 23:55] adammichaelwood commented on #82
Blocked for me, too.

AdBlockUs on Firefox Developer edition (I have native browser blocking and tracking code blocking turned on.)

[2018-07-03 21:57] yanokwa opened #176 "Reduce the size of images on the front page"
Our data usage from the last month is, in the opinion of the person paying the bill, is too much 💸

I don't think we need to reduce the size of the images in the repo, but we should change JPGs to PNGs, and run pngquant before the site goes to S3.

<img width="1308" alt="screen shot 2018-07-03 at 14 47 30" src="https://user-images.githubusercontent.com/32369/42246119-4550cebc-7ed0-11e8-8455-b972d8

[2018-07-05 23:51] #91 closed

[2018-07-07 15:12] yanokwa opened #180 "Add an Edit on Github link"
It'd be nice to have an "Edit on GitHub" link on every page. Maybe in the bottom footer?

[2018-07-24 20:04] yanokwa opened #183 "Clarify license of site and content"
This issue was filed because we got a message from a user who said...

[2018-07-24 20:46] #183 closed

[2018-08-09 13:41] #82 closed

[2018-08-20 21:27] #173 closed

[2018-08-21 00:01] lognaturel opened #189 "Add a banner at the top of the community page about joining the forum"
There's a lot of text there. Most people just want to find out where the community is.

[2018-08-21 00:04] lognaturel opened #190 "Under help/support, make it clear that's where users should post about unexpected behavior"
Text from the old FAQ:
[code]

I think the most important thing is to just say "if one of the ODK tools isn't working as expected, please post in the support category of the forum."

[2018-08-21 00:05] lognaturel commented on #190
Perhaps it would also be good to call out that it's the place for new features to be suggested? This was also in the old FAQ.

[2018-08-21 00:07] lognaturel opened #191 "Add instructions on how to cite ODK on research page"
https://opendatakit.org/community/research/

From the old FAQ:

 If you are using ODK tools with a version code 1.x cite:
`Open Data Kit: Tools to Build Information Services for Developing Regions <https://opendatakit.org/wp-content/uploads/2010/10/ODK-Paper-ICTD-2010.pdf>`_
Carl Hartung, Yaw Anokwa, Waylon Brunette, Adam Lerer, Clint Tseng, Gaetano Borriello
In ICTD, 2010. http://dl.acm.org/citat

[2018-08-21 21:50] wbrunette commented on #191
A modification to the FAQ was made on the websites last year to reference the conference paper instead of the workshop paper for ODK 2. With the many different versions of the website, I am not surprised the change was into included in the one you are looking at.

People often ask "How do I cite ODK?". Since Open Data Kit is an academic research project, please cite the academic research papers co

[2018-09-02 16:26] yanokwa opened #193 "Clean stray tags from blog posts"
The current website has blog posts with broken text.

For example, in https://opendatakit.org/2011/09/new-york-city-using-odk-for-health-operations it says,
[code]
The above text has a `_` and a `</p>` and some weird whitespace.

There is no need to fix all of these in one pull request! Pull requests that addresses some of these would be very welcome!

[2018-09-03 22:38] yanokwa opened #196 "Replace HTML entities with true characters"
Either because of Wordpress on the import from Wordpress, we have a lot of content with HTML entities (e.g. `&#8220;` instead of `“`). Having these entities makes it hard to edit the content because human beings don't know what `&#8220;` means.

[2018-09-03 22:48] #196 closed

[2018-09-06 13:08] Ifyokoh commented on #98
Hi, is this issue still undone?, will like to work on it

[2018-09-07 20:29] #100 closed

[2018-09-22 00:57] afparsons commented on #122
@opendatakit-bot claim

[2018-10-01 19:18] afparsons commented on #180
@yanokwa As far as I can tell this has been resolved.
![odk-website-footer](https://user-images.githubusercontent.com/12258001/46310414-47c5b500-c58d-11e8-94f8-f521fde85912.png)

[2018-10-01 19:33] afparsons commented on #89
I'm not entirely sure what you mean by an _active_ link.
![odk-website-sidenav](https://user-images.githubusercontent.com/12258001/46310844-7abc7880-c58e-11e8-9a2a-6c83673e2045.png)

- [x] titles match
- [x] active styling

When looking at the 'Governance' page, the 'Governance' link in the side nav is styled with **bold**; this to me denotes "active".

The only other thing I can think of is that

[2018-10-01 20:52] yanokwa commented on #89
I'm not seeing what you see, @afparsons. Here are some screenshots...

**firefox**
<img width="328" alt="ff" src="https://user-images.githubusercontent.com/32369/46314993-0fb87500-c581-11e8-9af0-342fc45d3bab.png">

**chrome**
<img width="390" alt="ch" src="https://user-images.githubusercontent.com/32369/46314994-0fb87500-c581-11e8-9718-326a87573d44.png">

What browser and OS are you on?

[2018-10-01 22:29] lognaturel commented on #180
That link is to get to the ODK landing page on Github. I think what @yanokwa means is a link as on the upper right hand corner of the docs: https://docs.opendatakit.org/

<img width="1082" alt="screen shot 2018-10-01 at 3 27 34 pm" src="https://user-images.githubusercontent.com/967540/46319344-97f14700-c58e-11e8-9133-353eb4f09c36.png">

That link gets the user directly to the link to edit the page

[2018-10-02 14:48] #122 closed

[2018-10-03 20:01] #67 closed

[2018-10-08 19:46] afparsons commented on #89
I've checked under both Firefox (62.0.3) and Chrome ( 69.0.3497.100) on Windows 10 and Firefox and Chrome on Xubuntu 17.10 (presumably also 62.* and 69.*, respectively). I do not see an underline under "Community," and subcategories (Governance, History, Research, etc.) display as bold when selected.

I'd post screenshots of each, but they aren't different than my first screenshot.

It isn't until

[2018-10-08 22:04] yanokwa commented on #89
My apologies, @afparsons. I don't know how I reached my earlier conclusion!

As of today on Firefox 62.0.3 and Chrome 69.0.3497.100 on macOS 10.13.6, the sidebar link is active in the way I would expect.

That is, when I'm on that page, the sidebar text is bold. And bold is the behavior I wanted when that page is active.

So with that, I think we can close this issue. @smoyth, do you agree?

[2018-10-08 22:11] afparsons commented on #89
Upon second reading, this sounds snarky on my part. Definitely not the intention! Per your email I just want to make sure I'm not wasting your time.

Does the **Toggle Menu +** button work as you intended it to? I take it that is for the mobile view.
FWIW, the active link bolding is difficult to see on my iPhone 5s, iOs 9.3.3, though I don't think that is mission critical.

Sounds good; I might tr

[2018-10-08 22:45] yanokwa commented on #89
No snark was received on this side 😁

The toggle menu behaves as I would expect it.

[2018-10-09 13:32] smoyth commented on #89
Sure thing.

[2018-10-10 01:38] yanokwa opened #206 "Add more prominent link to security and privacy policy"
https://docs.opendatakit.org/security-privacy/

[2018-10-13 22:14] afparsons commented on #180
@lognaturel Hmmmm. I'm still a little unclear so I'll try to resolve some questions I still have.

At first I thought you meant that these changes were to affect the Sphinx/ReadTheDocs pages, and so I thought that this this issue actually fit under ODK/docs, not ODK/website. After rereading the last comment, I take it that the changes should be on opendatakit.org/community/ pages, NOT the docs.

T

[2018-10-15 16:46] yanokwa commented on #180
I don't think two links on GH are necessary, so I would drop the generic GH link. I'd then float the Edit on GitHub page to the right of the page so it's separate from the social links.

This link is warranted on all pages not because the content changes frequently, but because we want potential contributors to know they can make changes. It's a win for everyone when someone can fix a typo or some

[2018-10-15 19:29] afparsons commented on #180
Ok, that makes more sense. I'll take a stab at making the change.
@opendatakit-bot claim

[2018-10-22 21:09] shobhitagarwal1612 opened #208 "Add Favicon to the website"
Favicon is not only useful for marketing and branding but also for usability. It helps users to identify a website with a favicon on it when the user has opened several tabs in a browser

[2018-10-22 21:42] shobhitagarwal1612 commented on #208
@opendatakit-bot claim

[2018-10-23 19:54] shobhitagarwal1612 opened #209 "Cannot install eventmachine on Ubuntu 18.10"
While trying to run `bundle install`, I get the following error
[code]

[2018-10-23 21:30] shobhitagarwal1612 opened #212 "Leverage browser caching of static assets"
Tested performance of website on http://www.webpagetest.org/
It rated the `Cache static content` F as the caching of static assets isn't configured. This results in reloading of these assets every time the website is refreshed.

[2018-10-23 21:54] shobhitagarwal1612 commented on #98
I have two ideas that can be applied to make the `alt` text different from normal text
 - adding a border to the image (gray colored)
 - changing the font color of alt text (red colored)
 -  both of the above

[2018-10-23 21:58] shobhitagarwal1612 commented on #98
![image](https://user-images.githubusercontent.com/8918023/47393380-e385b380-d73c-11e8-8a60-7b23f16dd44c.png)

@yanokwa Wha

[2018-10-23 22:00] yanokwa commented on #98
https://mmistakes.github.io/minimal-mistakes/ is the theme we use.

A look at https://mmistakes.github.io/minimal-mistakes/about/ suggests that there is a figcaption class. https://github.com/mmistakes/minimal-mistakes/search?q=figcaption&unscoped_q=figcaption shows the usage at https://mmistakes.github.io.  Can we just use that class and style?

[2018-10-23 22:04] shobhitagarwal1612 commented on #98
This is how the suggested class looks

[2018-10-23 22:07] yanokwa commented on #98
In the spirit of https://github.com/opendatakit/website/pull/205, I'd make it sans-serif. Then maybe italicized and be done.

[2018-10-23 22:08] shobhitagarwal1612 commented on #98
@opendatakit-bot claim

[2018-10-23 22:09] shobhitagarwal1612 commented on #98
I guess bot isn't happy with me today

[2018-10-23 22:11] shobhitagarwal1612 commented on #98
![image](https://user-images.githubusercontent.com/8918023/47393928-9f93ae00-d73e-11e8-8d81-58d6a5819a09.png)

figcaption class along with sans-serif and italic font styles

[2018-10-24 00:02] yanokwa commented on #98
That change looks good to me. It'd be good to fix that screenshot so we see it with an actual image though :)

[2018-10-24 00:04] #208 closed

[2018-10-24 08:41] shobhitagarwal1612 commented on #98
The screenshot is attached properly. I intentionally removed the image for testing the changes

[2018-10-24 08:43] shobhitagarwal1612 commented on #98
I have been using Firefox for testing this and didn't reproduce any missing image by default. I think the image attached with the issue was captured on a cloned repo without LFS files fetched, hence missing images

[2018-10-25 01:00] shobhitagarwal1612 commented on #98
Last idea before I send a PR:

![image](https://user-images.githubusercontent.com/8918023/47469566-291aad00-d81f-11e8-9957-9eff31ce11e9.png)

**CC** @lognaturel @yanokwa

[2018-10-25 22:36] yanokwa commented on #98
Looks good to me. If/when you send in a PR, include a couple of screenshots of pages you've verified the change on.

[2018-12-12 06:00] huangyz0918 commented on #104
@yanokwa As my understanding, we should remove the `research` page, redirecting to the [google scholar page](https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=%22open+data+kit%22+or+%22opendatakit%22+or+%22ODK%22&btnG=)?

<img width="1552" alt="2018-12-12 1 57 35" src="https://user-images.githubusercontent.com/15646062/49849852-4da20700-fe16-11e8-8010-ce2c622c90bc.png">

[2018-12-12 21:44] yanokwa commented on #104
@huangyz0918 Thanks for sending in the PR. Let's have a quick discussion with @wbrunette about the general approach.

@wbrunette, I was thinking that perhaps the best way to handle this is.
1. Use the s3_website.yml file to do a redirect from /research to Google Scholar. I think the best query is `"opendatakit" OR "Open Data Kit"` (case matters)
2. We remove the research link from the community pa

[2018-12-15 03:33] wbrunette commented on #104
Would it make sense to migrate them to the history page? Why keep the deployments there and not the papers that talk about deployments? Or articles which are essentially like research?

[2018-12-16 02:11] huangyz0918 commented on #104
+1

[2018-12-19 23:13] yanokwa commented on #104
I don't think it makes sense to move them to history since the press and and deployments page have been flagged for removal as well.

https://github.com/opendatakit/website/issues/102
https://github.com/opendatakit/website/issues/101

[2018-12-21 03:04] huangyz0918 commented on #104
Let me update the PR as your @yanokwa proposed, and see how it looks like.

[2019-01-21 18:42] shobhitagarwal1612 opened #219 "Security vulnerability alert : CVE-2018-14404"
This alert is generated by GitHub as the version of nokogiri is < 1.8.5

[2019-01-21 18:48] #219 closed

[2019-03-15 15:29] MartijnR opened #224 "Line up TSC images"
To make they are lined up regardless of how many lines of text below the images.

[2019-03-16 03:34] yanokwa opened #225 "Update to latest gems"
minimal-mistakes-jekyll and html-proofer are the key ones

[2019-05-22 22:24] yanokwa commented on #225
Fixed by #226

[2019-05-22 22:24] #225 closed

[2019-06-06 03:18] yanokwa commented on #73
Fixed by #235

[2019-06-06 03:18] #73 closed

[2019-07-14 22:47] yanokwa commented on #54
I got some private feedback about the website that I wanted to document for future work.

I also sent a few videos to the person in case that'd be more compelling.

* Hutan Aceh in Indonesia is home to tigers, elephants, orangutans and
rhinos. EIA International and local activists protect it by
documenting forest crimes with ODK. The geo-tagged forms, rich with
photos, provide the evidence needed

[2019-07-19 22:06] yanokwa commented on #54
Talked with another user and got this feedback on the website.

[2019-07-31 18:29] yanokwa opened #240 "Entire "how we do it" section is a link"
Only the `Join the community` button should be a link.

[2019-08-01 14:27] danbjoseph commented on #240
On the Minimal Mistake documentation
https://mmistakes.github.io/minimal-mistakes/docs/helpers/#feature-row

The last example in the section (Placeholder 2 with a Read More button) shows the same behavior.

Could remove the button for now? Since the "/community/" link is also at the end of the text paragraph.

[2019-08-01 14:40] danbjoseph commented on #240
related: https://github.com/mmistakes/minimal-mistakes/pull/1864

[2019-08-01 17:55] #240 closed

[2020-02-07 00:42] #98 closed

[2020-03-13 15:41] MartijnR opened #251 "Split up into 2 sites"
The goal is to create 2 good-enough-sites for the first day of transition, that the individual groups can subsequently tweak/redesign.

* [x] change Open Data Kit references for shared parts
* [ ] tag History entries - may not be feasible for me and may just leave all in on both sites
* [x] tag Research entries re ODK-X

[2020-03-13 15:59] MartijnR commented on #251
* [ ] create ODK repo or branch without ODK-X references,
* [ ] forum.getodk.org, github.com/getodk, twitter.com/getodk

[2020-03-13 16:01] MartijnR commented on #251
* [ ] create ODK-X repo or branch without ODK references,
* [ ] forum.odk-x.org,
* [ ] github.com/odk-x,
* [ ] twitter.com/odk-x
* [ ] odk-x.org/odk-x (tbc)
* [ ] replace ODK-X logo - actually it looks like the ODK logo is only used in the background for the social graph stuff

[2020-03-13 19:54] MartijnR commented on #251
* [ ] After migration of docs, twitter, github etc, do an automatic check for dead links on both sites

[2020-03-13 22:29] MartijnR opened #253 "Check for broken links after new sites have launched and assets have migrated"
E.g. using https://www.npmjs.com/package/broken-link-checker

[2020-03-13 22:30] MartijnR opened #254 "Clean up wp-content assets that are no longer referred to"
Prioritizing large PDFs

[2020-03-27 15:13] #251 closed

[2020-04-15 15:17] MartijnR opened #256 "Remove research and support (getodk)"
tbc either both pages and menu links or just menu link

[2020-04-16 22:02] MartijnR commented on #254
At the moment, I think nothing in that folder is referred to any more because we removed the blog.

[2020-04-18 22:12] #254 closed

[2020-04-18 22:12] #256 closed

[2020-04-24 17:08] MartijnR opened #264 "Remove feed link in footer"
nothing to feed

[2020-05-18 15:21] #264 closed

[2020-05-18 15:38] yanokwa commented on #209
I don't think this issue is still an issue. If it is, please re-open.

[2020-05-18 15:38] #209 closed

[2020-05-18 15:45] #253 closed

[2020-09-16 21:46] yanokwa opened #291 "v3.0.0 Todos"
[] Confirm deploy works
[] Add readme and license
[] Add link checker
[] Add HTML checker